<section class="itemapp">

     <app-granadaio-header (add)="onAddItem($event)"></app-granadaio-header>

     <app-granadaio-body [items]="items" (toggleComplete)="onToggleItemComplete($event)" (remove)="onRemoveItem($event)"></app-granadaio-body>

     <app-granadaio-footer [items]="items"></app-granadaio-footer>
</section>
