<section class="main" *ngIf="items.length > 0">
     <ul class="item-list">
          <li *ngFor="let item of items" [class.completed]="item.complete">
               <app-granadaio-item [item]="item" (toggleComplete)="onToggleItemComplete($event)" (remove)="onRemoveItem($event)"></app-granadaio-item>
          </li>
     </ul>
</section>
