<header class="header">
     <h1>Granada.io</h1>
     <input class="new-item" placeholder="Añada algo para probar este input" autofocus="" [(ngModel)]="newItem.title" (keyup.enter)="addItem()">
</header>
